[
    {auths, [
        {web, [
            {port, 8080},
            {url, "/auths/api"}
        ]},
        {pool, [
            {name, auths},
            {size, 1}
        ]},
        {db, [
            {host, "localhost"},
            {database, "auths"},
            {username, "auths"},
            {password, "auths"},
            {timeout, 4000}
        ]}
    ]}
].
